:root {
  --color-primary: #2e2f42;
  --color-secondary: #434455;
  --color-third: #fff;
  --color-action: #4d5ae5;
  --color-background-section: #2e2f42;
  --color-background-brand: #f4f4fd;
  --color-button-action: #404bbf;
}

body {
  font-family: Roboto, sans-serif;
  width: 1440px;
  height: 2593px;
  color: var(--color-primary);
  background-color: var(--color-third);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* Header */

/* logo */

.link-logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  color: var(--color-primary);
  text-transform: uppercase;
}

.web-header-logo {
  color: var(--color-action);
}

/* navigation */

.navigation-list {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.link-navigation {
  color: var(--color-primary);
}

.link-navigation:hover,
.link-navigation:focus {
  color: var(--color-action);
  text-decoration: underline;
}

/* contacts */

.navigation-contacts-list {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.link-contacts {
  color: var(--color-secondary);
}

.link-contacts:hover,
.link-contacts:focus {
  color: var(--color-action);
}

/* Main */

/* section-hero */

.section-hero-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  color: var(--color-third);
  letter-spacing: 0.02em;
}

.section-hero {
  background-color: var(--color-primary);
  width: 1440px;
  height: 603px;
  left: 0px;
  top: 72px;
}

/* Button-section-hero */

.button-section-hero {
  color: var(--color-third);
  background-color: var(--color-action);
}

.button-section-hero:hover {
  color: var(--color-third);
  background-color: var(--color-action);
}

.button-section-hero:focus {
  color: var(--color-third);
  background-color: var(--color-button-action);
}
