:root {
  --color-primary: #2e2f42;
  --color-secondary: #434455;
  --color-third: #fff;
  --color-action: #4d5ae5;
  --color-background: #fff;
  --color-background-section: #2e2f42;
  --color-background-brand: #f4f4fd;
}

body {
  color: var(--color-primary);
  background-color: var(--color-background);
}

/* logo */

.link-logo {
  color: var(--color-primary);
}

.web-header-logo {
  color: var(--color-action);
}

/* link-navigation */

.link-navigation {
  color: var(--color-primary);
}

.link-navigation:hover {
  color: var(--color-secondary);
}

.link-navigation:focus {
  color: var(--color-action);
}

/* link-contacts */

.link-contacts {
  color: var(--color-secondary);
}

.link-contacts:hover {
  color: var(--color-secondary);
}

.link-contacts:focus {
  color: var(--color-action);
}

/* main */
/* section-hero */

.section-hero {
  background-color: var(--color-primary);
}
