:root {
  --color-primary: #2e2f42;
  --color-secondary: #434455;
  --color-third: #fff;
  --color-action: #4d5ae5;
  --color-background-section: #2e2f42;
  --color-background-brand: #f4f4fd;
  --color-button-action: #404bbf;
}

body {
  color: var(--color-primary);
  background-color: var(--color-third);
}

/* Header */

/* logo */

.link-logo {
  color: var(--color-primary);
}

.web-header-logo {
  color: var(--color-action);
}

/* link-navigation */

.link-navigation {
  color: var(--color-primary);
}

.link-navigation:hover {
  color: var(--color-secondary);
}

.link-navigation:focus {
  color: var(--color-action);
}

/* link-contacts */

.link-contacts {
  color: var(--color-secondary);
}

.link-contacts:hover {
  color: var(--color-secondary);
}

.link-contacts:focus {
  color: var(--color-action);
}

/* Main */

/* section-hero */

.section-hero {
  background-color: var(--color-primary);
  color: var(--color-third);
}

/* Button-section-hero */

.button-section-hero {
  color: var(--color-third);
  background-color: var(--color-action);
}

.button-section-hero:hover {
  color: var(--color-third);
  background-color: var(--color-action);
}

.button-section-hero:focus {
  color: var(--color-third);
  background-color: var(--color-button-action);
}
